{% extends 'registration/base.html' %}
{% block titulo %}Cadastro{% endblock%}
{% block conteudo %}
{% load crispy_forms_tags %}
{% if request.user.categoria == 'Consumidor' %}
<script language= "JavaScript">
  location.href="{%  url 'index' %}";
</script>
{% endif %}
<br><br><br>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--3dp">
				<div class="mdl-card mdl-cell mdl-cell--11-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
					<div class="mdl-card__supporting-text">
						{% crispy form %}
						<input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						
					</div>
				</div>
			</section>
		</div>
		<div class="col-2">
		</div>
	</div>
  
  <br>
</form>
{% endblock %}