{% extends 'registration/base.html' %}
{% block titulo %}Cadastro{% endblock%}
{% block conteudo %}
{% load crispy_forms_tags %}

<br><br>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title">Olá {{request.user.username}}</span>
						<h6>Por favor, preencha os campos!</h6>
						{% crispy form %} 
						<input type="submit" class="waves btn green" value="OK">
				</div>

			</div>
		</div>
		<div class="col-2">
		</div>
	</div>

	<br>
</form>
{% endblock %}