{% extends 'registration/base.html' %}
{% block titulo %}Cadastro{% endblock%}
{% block conteudo %}
{% load crispy_forms_tags %}

<br><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="row">
		<div class="col-1">
		</div>
		<div class="col-10">
			<div class="card hoverable">
				<div class="card-content">
					<span class="card-title">Olá {{request.user.username}}</span>
						<h6>Por favor, preencha os campos!</h6>
						{% crispy form %} 
						<input type="submit" class="waves btn green" value="OK">
				</div>

			</div>
		</div>
		<div class="col-1">
		</div>
	</div>

	<br>
</form>
{% endblock %}