{% extends 'principal/base.html'%}

{% block titulo %}Caixa de Mensagens {% endblock%}
{% block conteudo %}

<div class="row">
    <div class="col-3">
        {% if request.user.categoria == 'Consumidor' %}
        <div class="card hoverable">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Menu</h6>
                </header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'cadastro_demanda' %}" class="list-group-item">Criar uma nova demanda </a>
                        <a href="{% url 'demandas' %}" class="list-group-item">Minhas Demandas <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                                class="float-right badge badge-light round"></span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
        {% if request.user.categoria == 'Prestador' %}
        <div class="card hoverable">
            <article class="card-group-item">
                <header class="card-header">
                        <h6 class="title">Menu</h6>
                </header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                                class="float-right badge badge-light round"></span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
    </div>
    <div class="col-9">
        {% for it in search %}
        {% if aux %}
        <a href="{% url 'messagesUser' it.id %}">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title">
                        <a href="{% url 'messagesUser' it.id %}"><img src="{{it.from_user.imagem}}" alt=""
                                class="circle" style="width: 50px;height: 50px;">
                            <span class="email-title">{{ it.from_user.get_full_name }}</span></a>
                    </span>
                    <p class="truncate grey-text ultra-small">Faz serviços de {{ it.from_user.categoria_servico }}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% if not aux %}
        <a href="{% url 'messagesUser' it.id %}">
            <div class="card carousel-indicators hoverable">
                <div class="card-content">
                    <span class="card-title">
                        <a href="{% url 'messagesUser' it.id %}"><img src="{{it.to_user.imagem}}" alt=""
                                class="circle" style="width: 50px;height: 50px;">
                            <span class="email-title">{{ it.to_user.get_full_name }}</span></a>
                    </span>
                    <p class="truncate grey-text ultra-small">{{ it.to_user.categoria_servico }}</p>

                </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}