{% extends 'principal/base.html'%}
{% block titulo %}Cadastro Demanda{% endblock%}

{% block conteudo %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% load static %}
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
  $(document).ready(function(){
    $('select').formSelect();
  });
      
</script>
<div class="row">
	<div class="col-3">
		<div class="card hoverable">
			<article class="card-group-item">
				<header class="card-header">
					<h6 class="title">Menu</h6>
				</header>
				<div class="filter-content">
					<div class="list-group list-group-flush">
						<a href="{% url 'cadastro_demanda' %}" class="list-group-item">Criar uma nova demanda </a>
						<a href="{% url 'demandas' %}" class="list-group-item">Minhas Demandas <span
								class="float-right badge badge-light round"></span> </a>
						<a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
								class="float-right badge badge-light round"></span> </a>
						<a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
								class="float-right badge badge-light round"></span>
						</a>
					</div>
				</div>
			</article>
		</div>
	</div>
	<div class="col-9">
		<div class="card hoverable">
			<div class="card-content">
				<span class="card-title">
					<h5>Cadastro de Demandas</h5>
				</span>
			</div>
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-sm-6">
						<input type="text" name="titulo">
						<label for="titulo">Titulo da demanda</label>
						
					</div>
					<div class="col-sm-6">
							<select class="input-field" name="categoria">
									<option value="" disabled selected>Categorias de Serviço...</option>
									{% for categoria in categorias %}
									<option value="{{categoria.id}}">{{categoria}}</option>
									{% endfor %}
								  </select>
								  <label>Categorias</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<textarea class="materialize-textarea" name="descricao"></textarea>
						<label for="descricao">Descrição da Demanda</label>
						<input type="hidden" name="user_demanda" value="{{request.user.id}}">
					</div>
				</div>
			<div class="card-footer">
				<button class="waves-effect waves-light btn green" type="submit" >Cadastrar</button>
			</form>
			</div>
		</div>
	</div>
</div>


{% endblock %}