{% extends 'principal/base.html' %}
{% block titulo %}Configurações{% endblock %}
{% block conteudo_full %}

<br>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
    $(document).ready(function () {
        $('.modal').modal();
    });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });

    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
    $('#add_information').click(function () {
        alert();
    });
    $(document).on('click', '#add_information', function (event) {
        let info = $("textarea[name='informacao']").val();
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "config_json" %}',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                informacao: $("textarea[name='informacao']").val(),
            },
            success: function (e) {
                M.toast({ html: 'Informação adicionada!' });
                $("textarea[name='informacao']").val("");
                $('#info').append('<li><div class="collapsible-header"><i class="material-icons">info</i>' + info + '</div><div class="collapsible-body"><span>' + info + '</span></div></li>');
                $('.collapsible').collapsible();

            },
            error: function (jqxhr, status, exception) {
                
            }
            
        });
    });
    $(document).on('click', '#delete_info', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "delete_info" %}',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                delete: $("input[name='delete']").val(),
            },
            success: function (e) {
                M.toast({ html: 'Informação deletada!' });
                location.reload();
            },
            error: function (jqxhr, status, exception) {
            }
        });
    });
</script>
<div class="row">
    <div class="col-md-6">
        <div class="container-fluid">

            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="rounded hoverable" src="../{{user.imagem}}">
                        </div>
                        <div class="col-md-6">
                            <h5>Dados Pessoais</h5>
                            <i class="material-icons align-top">
                                person
                            </i>{{user.get_full_name}}<br>
                            <i class="material-icons align-top">
                                mail
                            </i>{{user.email}}<br>
                            <i class="material-icons align-top">
                                phone
                            </i>{{user.telefone}}<br>
                            <i class="material-icons align-top">
                                room
                            </i>{{user.get_full_address}}
                        </div>

                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Informações adicionais</span>

                    <ul class="collapsible" id="info">
                        <li>
                            <div class="collapsible-header"><i class="material-icons">add</i>Adicione informações
                            </div>
                            <div class="collapsible-body">
                                <span>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-9">
                                                <textarea class="materialize-textarea" name="informacao"
                                                    id="field_info"></textarea>
                                            </div>
                                            <button class="waves-effect -light btn green"
                                                id="add_information">OK</button>
                                        </div>
                                    </form>
                                </span></div>
                        </li>
                        {% for info in informacoes %}
                        <li>
                            <div class="collapsible-header">
                                <i class="material-icons">info</i><span>{{info.informacao}}</span>
                            </div>
                            <div class="collapsible-body">
                                <div class="row">
                                    <div class="col-10">
                                        {{info.informacao}}
                                    </div>
                                    <div class="col-2">
                                        <form method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete" value="{{info.id}}">
                                            <button type="submit" class="btn waves-effect waves-light red"
                                                id="delete_info"><i class="material-icons">delete</i></button>
                                        </form>
                                    </div>  
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>

                    <a class="waves-effect waves-light btn modal-trigger green">Pronto</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i
                            class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
{% endblock %}