 {% extends 'principal/base.html'%}
 {% block titulo %}Demandas{% endblock%}
 {% block conteudo %}

 <!-- Colored FAB button with ripple -->
 <a href="{% url 'cadastro_demanda' %}">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
</a>
<span class="mdl-chip">
  <span class="mdl-chip__text">Criar nova demanda</span>
</span><br><br>
{% for query in querys %}
<div class="mdl-layout__tab-panel is-active" id="overview">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <img src="{{ query.imagem_demanda }}" style="width: 180px;height: 250px;">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>{{query.titulo_demanda}}</h4>
        <p>{{query.data_demanda}}<br>
         {{query.descricao_demanda}}<br>
         {{query.usuario_demanda}}<br>
         {{query.categoria}}
       </p>
     </div>
     <div class="mdl-card__actions">
       <button class="btn waves-effect waves-light" type="submit" name="action">Ver detalhes
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</section>
</div>
<br>
{% endfor %}

{% endblock %}