 {% extends 'principal/base.html'%}
 {% block titulo %}Demandas{% endblock%}
 {% block conteudo %}

 <!-- Colored FAB button with ripple -->
 <a href="{% url 'cadastro_demanda' %}">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
</a>
<span class="mdl-chip">
  <span class="mdl-chip__text">Criar nova demanda</span>
</span><br><br>
{% for query in querys %}
<div class="mdl-layout__tab-panel is-active" id="overview">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <img src="{{ query.imagem_demanda }}" style="width: 180px;height: 250px;">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--10-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>{{query.titulo_demanda}}</h4>
        <p>
         {{query.descricao_demanda}}.<br><bR>
         <b>Categoria de Serviço:</b> {{query.categoria}}.
       </p>
     </div>
     <div class="mdl-card__actions">
      <a class="waves-effect waves-light btn modal-trigger" href="#{{query.titulo_demanda}}">Ver Detalhes</a>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems, options);
        });


        $(document).ready(function(){
          $('.modal').modal();
        });
      </script>
    </div>
  </div>
  <div id="{{query.titulo_demanda}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>{{query.titulo_demanda}}</h4>
      <p><b>Publicado em:</b> {{query.data_demanda}}.
        <br>{{query.descricao_demanda}}.<br><bR>
        <b>Datas: </b>Esse serviço deve ser realizado nos dias {{data_inicio}} à {{ data_fim }}.<bR>
        <b>Usuário:</b> {{query.usuario_demanda}}.<br>
        <b>Categoria de Serviço:</b> {{query.categoria}}.
      </p>
      <b>Fotos:</b><br>
      <img src="{{ query.imagem_demanda }}" style="height: 100px;width: 100px;">
    </div>
    <div class="modal-footer">
      {% if request.user == query.usuario_demanda %}
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">EDITAR <i class="material-icons">
        edit
      </i></a>
      {% endif %}
      {% if request.user.categoria == 'PRESTADOR' %}
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">ADICIONAR AOS MEUS INTERESSES <i class="material-icons">
        beenhere
      </i></a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">ENVIAR MENSAGEM <i class="material-icons">
        local_post_office
      </i></a>
      {% endif %}
    </div>
  </div>
</section>
</div>
<br>
{% endfor %}

{% endblock %}