{% extends 'principal/base.html'%}
{% block titulo %}Principal {% endblock%}
{% block demanda%}{%endblock%}
{% block demandas_nav %}{% endblock %}
{% block conteudo %}
{% if request.user.cidade == None and request.user.estado == '' and request.user.descricao == '' %}
<script language= "JavaScript">
  location.href="{%  url 'atualizar_dados' %}";
</script>
{% endif %}
{% if request.user.categoria == 'Consumidor' %}
<script language= "JavaScript">
  location.href="{%  url 'index' %}";
</script>
{% endif %}



<nav>
  <div class="nav-wrapper">
    <form method="POST" action="{% url 'indexP' %}">
      {% csrf_token %}
      <div class="input-field" style="background-color: white;">
        <input id="search" type="search" required name="pesquisa" placeholder="Digite para procurar um prestador de serviço ou oferta...">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
<br>
{{request.user.cidade}}
{% for query in querys %}
{% if request.user.categoria == query.categoria %}
<div class="mdl-layout__tab-panel is-active" id="overview">
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
      <img src="{{ query.imagem_demanda }}" style="width: 180px;height: 250px;">
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--10-col-tablet mdl-cell--4-col-phone">
      <div class="mdl-card__supporting-text">
        <h4>{{query.titulo_demanda}}</h4>
        <p>
         {{query.descricao_demanda}}.<br><bR>
         <b>Categoria de Serviço:</b> {{query.categoria}}.
       </p>
     </div>
     <div class="mdl-card__actions">
      <a class="waves-effect waves-light btn modal-trigger" href="#{{query.titulo_demanda}}">Ver Detalhes</a>
      <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.modal');
          var instances = M.Modal.init(elems, options);
        });


        $(document).ready(function(){
          $('.modal').modal();
        });
      </script>
    </div>
  </div>
  <div id="{{query.titulo_demanda}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>{{query.titulo_demanda}}</h4>
      <p><b>Publicado em:</b> {{query.data_demanda}}.
        <br>{{query.descricao_demanda}}.<br><bR>
        <b>Datas: </b>Esse serviço deve ser realizado nos dias {{data_inicio}} à {{ data_fim }}.<bR>
        <b>Usuário:</b> {{query.usuario_demanda}}.<br>
        <b>Categoria de Serviço:</b> {{query.categoria}}.
      </p>
      <b>Fotos:</b><br>
      <img src="{{ query.imagem_demanda }}" style="height: 100px;width: 100px;">
    </div>
    <div class="modal-footer">
      {% if request.user == query.usuario_demanda %}
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">EDITAR <i class="material-icons">
        edit
      </i></a>
      {% endif %}
      {% if request.user.categoria == 'PRESTADOR' %}
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">ADICIONAR AOS MEUS INTERESSES <i class="material-icons">
        beenhere
      </i></a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">ENVIAR MENSAGEM <i class="material-icons">
        local_post_office
      </i></a>
      {% endif %}
    </div>
  </div>
</section>
</div>
<br>
{% endif %}
{% endfor %}


{% endblock %}