{% extends 'principal/base.html'%}
{% block titulo %}Principal{% endblock%}
{% block oferta %}{% endblock %}
{% block conteudo %}
{% if request.user.categoria == 'Prestador' %}
<script language= "JavaScript">
	location.href="{%  url 'index' %}";
</script>
{% endif %}


<nav>
	<div class="nav-wrapper">
		<form method="POST" action="{% url 'indexC' %}">
			{% csrf_token %}
			<div class="input-field" style="background-color: white;">
				<input id="search" type="search" required name="pesquisa" placeholder="Digite para procurar um prestador de serviço ou oferta...">
				<label class="label-icon" for="search"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
		</form>
	</div>
</nav>
<br>
<div class="row">
	{%for categoria in categorias %}
	<div class="col-3"><br>
		<a href="{% url 'pesquisa' categoria.id %}">
		<section class="section mdl-grid mdl-grid--no-spacing mdl-shadow--3dp">
			<div class= "mdl-card mdl-cell--2-col-desktop"></div>
			<div class="mdl-card mdl-cell mdl-cell--8-col-desktop">
				<div class="mdl-card__supporting-text">
					<h5>Categoria:</h5>
					<p>{{categoria.categoria_servico}}</p><br>
				</div>
			</div>
		</section><br>
	</div>
	</a>
	{%endfor%}
</div>
{% endblock %}