{% extends 'principal/base.html'%}
{% block titulo %}Início{% endblock%}
{% block conteudo %}
{% if user.categoria == 'Prestador' %}

<div class="row">
	<div class="col-3">
		<div class="card">
			<article class="card-group-item">
				<header class="card-header">
					<h6 class="title">Menu</h6>
				</header>
				<div class="filter-content">
					<div class="list-group list-group-flush">
						<a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
								class="float-right badge badge-light round"></span> </a>
						<a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
								class="float-right badge badge-light round"></span>
						</a>
					</div>
				</div>
		</div>
	</div>
	<div class="col-9">
		<nav>
			<div class="nav-wrapper">
				<form method="POST" action="{% url 'index' %}">
					{% csrf_token %}
					<div class="input-field" style="background-color: lightslategray;">
						<input id="search" type="search" name="pesquisa"
							placeholder="Digite para procurar um prestador de serviço ou oferta...">
						<label class="label-icon" for="search"><i class="material-icons">search</i></label>
						<i class="material-icons">close</i>
					</div>
				</form>
			</div>
		</nav>
		<br>
		<div class="row">
			<div class="col-sm-9">
				<h6>Resultados de acordo com a categoria: {{request.user.categoria_servico}}</h6>
			</div>
			<div class="col-sm-3">
				<a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Filtro <i
						class="material-icons align-top">sort</i>
				</a>
				<ul id='dropdown1' class='dropdown-content'>
					<form method='POST' action="{% url 'index' %}">
						<input type="hidden" name="value" value="recents">
						<li><a href="{% url 'index' %}" type="submit">Mais Recentes</a></li>
					</form>
					<form method='POST' action="{% url 'index' %}">
							<input type="hidden" name="value" value="alpha">
							<li><a href="{% url 'index' %}" type="submit">Orgem alfabética</a></li>
					</form>
				</ul>	
			</div>
		</div>

		{% for query in querys %}
		{% if query.categoria == user.categoria_servico %}
		<div class="card hoverable modal-trigger" href="#{{query.id}}">
			<div class="card-content">
				<span class="card-title">
					<b>Demanda: </b>{{query.titulo}}
				</span>
				<p>Descrição: {{ query.descricao }}</p>
				<p>Categoria de Serviço: {{ query.categoria }}</p>
				<p>Usuario: {{ query.user_demanda }}</p>
			</div>
			<div class="card-action grey lighten-2">
				<a class="waves-effect waves-light btn modal-trigger green" href="#{{query.titulo}}">Enviar Mensagem
					<i class="material-icons">
						message
					</i></a>

			</div>
		</div>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function () {
				var elems = document.querySelectorAll('.modal');
				var instances = M.Modal.init(elems, options);
			});
			$(document).ready(function () {
				$('.modal').modal();
			});
			$('.card').click(function () {
				$('#{{query.titulo}}').modal();
			});
		</script>
		<div id="{{query.titulo}}" class="modal modal-dialog h-50 mx-auto">
			<div class="modal-header">
				<h6>Enviar uma mensagem para {{query.user_demanda}}</h6>
			</div>
			<div class="modal-content border-bottom-0 h-auto h-25">
				<form method="POST" action="{% url 'index' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-8">
							<textarea class="materialize-textarea" name='message'></textarea>
							<label for="message">Mensagem</label>
							<input type="hidden" name="from_user" value="{{request.user.id}}">
							<input type="hidden" name="to_user" value="{{query.user_demanda.id}}">
						</div>
						<div class="col-sm-4">
							<button class="waves-effect waves-light btn green">Enviar <i class="material-icons">
									send
								</i></button><i></i>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="{{query.descricao}}" class="modal modal-fixed-footer" role="dialog">
			<div class="modal-content">
			</div>
			<div class="modal-footer">
			</div>
		</div>
		<div id="{{query.id}}" class="modal modal-fixed-footer">
				<div class="modal-header">
						<h5 class="modal-title"><b>Demanda: </b>{{query.titulo}}</h5>
					</div>
			<div class="modal-content h-75">
					
				<div><i class="material-icons align-top">
						description
					</i><b>Descrição: </b>{{query.descricao}}</div>
				<div><i class="material-icons align-top">
						info
					</i><b>Categoria de Serviço: </b>{{query.categoria}}</div>
				<div><i class="material-icons align-top">
						account_circle
					</i><b>Usuário: </b>{{query.user_demanda}}</div>
				<div><i class="material-icons align-top">
						info
					</i><b>Data de Criação: </b> {{query.data}}</div>
			</div>
			<div class="modal-footer grey lighten-2">
					<a class="waves-effect waves-light btn modal-trigger green" href="#{{query.titulo}}">Enviar Mensagem
							<i class="material-icons">
								message
							</i></a>
			</div>
		</div>
		<br>
		{% endif %}
		{% endfor %}











		{% else %}
		<br>
		<div class="row">
			{%for categoria in categorias %}
			<div class="col-3"><br>
				<div class="card hoverable">
					<div class="card-image">
						<img src="media/{{categoria.imagem}}" style="max-width: 200px; max-height: 100px;">
					</div>
					<div class="card-content">
						<span class="card-title">
							<h5>Categoria</h5>
						</span>
						<p>{{categoria.categoria}}</p><br>
					</div>
					<a href="{% url 'pesquisa' categoria.id %}">
						<div class="card-action hoverable grey lighten-2">
							<span>Ver mais</span>
						</div>
					</a>
				</div>
			</div>

			{%endfor%}
		</div>
		{% endif %}




		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function () {
				var elems = document.querySelectorAll('.dropdown-trigger');
				var instances = M.Dropdown.init(elems, options);
			});
			$('.dropdown-trigger').dropdown();
		</script>
		{% endblock %}