{% extends 'principal/base.html'%}
{% block titulo %}Principal{% endblock%}
{% block oferta %}{% endblock %}
{% block conteudo %}
{% if request.user.categoria == 'Prestador' %}
<script language= "JavaScript">
  location.href="{%  url 'index' %}";
</script>
{% endif %}


<nav>
	<div class="nav-wrapper">
		<form method="POST" action="{% url 'indexC' %}">
			{% csrf_token %}
			<div class="input-field" style="background-color: white;">
				<input id="search" type="search" required name="pesquisa" placeholder="Digite para procurar um prestador de serviço ou oferta...">
				<label class="label-icon" for="search"><i class="material-icons">search</i></label>
				<i class="material-icons">close</i>
			</div>
		</form>
	</div>
</nav>
<br>
{%for query in querys%}
<div class="row">
	<div class="col-6"><br>
		<h5 class="container">Usuarios</h5><br>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--11-col">
			<div class= "mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop"></div>
			<div class="mdl-card mdl-cell mdl-cell--6-col-desktop">
				<div class="mdl-card__supporting-text">
					<h4>{{query.username}}</h4>
					<p>{{query.email}}<br>
						{{query.descricao_demanda}}<br>
						{{query.usuario_demanda}}<br>
						{{query.categoria}}
					</p>
				</div>
				<div class="mdl-card__actions">
					<button class="btn waves-effect waves-light" type="submit" name="action">Ver detalhes
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</section><br>
	</div>
	{%endfor%}
	{%for oferta in ofertas%}
	<div class="col-6"><br>
		<h5 class="container">Ofertas</h5><br>
		<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp mdl-cell--11-col">
			<div class= "mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop"></div>
			<div class="mdl-card mdl-cell mdl-cell--6-col-desktop">
				<div class="mdl-card__supporting-text">
					<h4>{{oferta.titulo_demanda}}</h4>
					<p>{{oferta.data_demanda}}<br>
						{{oferta.descricao_demanda}}<br>
						{{oferta.usuario_demanda}}<br>
						{{oferta.categoria}}
					</p>
				</div>
				<div class="mdl-card__actions">
					<a href="">
						<button class="btn waves-effect waves-light" type="submit" name="action">Ver detalhes
							<i class="material-icons right">send</i>
						</button>
					</a>
				</div>
			</div>
		</section><br>
	</div>
</div>
{%endfor%}

{% endblock %}