{% extends 'principal/base.html' %}
{% block titulo %}Meus Interesses{% endblock %}
{% block conteudo %}
<div class="row">
    <div class="col-3">
        {% if request.user.categoria == 'Consumidor' %}
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Demandas</h6>
                </header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'cadastro_demanda' %}" class="list-group-item">Criar uma nova demanda </a>
                        <a href="{% url 'demandas' %}" class="list-group-item">Minhas Demandas <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="#" class="list-group-item">Meus Interesses <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                                class="float-right badge badge-light round"></span>
                        </a>
                        <a href="{% url 'box_message_send' %}" class="list-group-item">Mensagens Enviadas<span
                                class="float-right badge badge-light round"></span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
        {% if request.user.categoria == 'Prestador' %}
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Ofertas</h6>
                </header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'cadastro_ofertas' %}" class="list-group-item">Criar uma nova oferta </a>
                        <a href="{% url 'ofertas' %}" class="list-group-item">Minhas Ofertas <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="#" class="list-group-item">Meus Interesses <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                                class="float-right badge badge-light round"></span>
                        </a>
                        <a href="{% url 'box_message_send' %}" class="list-group-item">Mensagens Enviadas<span
                                class="float-right badge badge-light round"></span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
    </div>
    <div class="col-9">
        {% for interesse in interesses %}
        {% if request.user.categoria == 'Prestador' %}
        <div class="mdl-layout__tab-panel is-active" id="overview">
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <header
                    class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                    <img src="{{ interesse.imagem_demanda }}" style="width: 180px;height: 250px;">
                </header>
                <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--10-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card__supporting-text">
                        <h4>{{interesse.interesse.titulo_demanda}}</h4>
                        <p>
                            {{interesse.interesse.descricao_demanda}}.<br><bR>
                            <b>Categoria de Serviço:</b> {{interesse.interesse.categoria}}.
                        </p>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="waves-effect waves-light btn modal-trigger"
                            href="#{{interesse.interesse.titulo_demanda}}">Ver
                            Detalhes</a>
                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var elems = document.querySelectorAll('.modal');
                                var instances = M.Modal.init(elems, options);
                            });
                            $(document).ready(function () {
                                $('.modal').modal();
                            });
                            $("a[href='{% url 'delete_interesse' interesse.id %}']").click(function (event) {

                                event.preventDefault();
                                if (confirm('Deseja apagar?'))
                                    window.location = "{% url 'delete_interesse' interesse.id %}";
                                else {
                                    alert('Okay, nada feito!');
                                    event.preventDefault();
                                }
                            });
                        </script>
                    </div>
                </div>
                <div id="{{interesse.interesse.titulo_demanda}}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>{{interesse.titulo_demanda}}</h4>
                        <p><b>Publicado em:</b> {{interesse.data_demanda}}.
                            <br>{{interesse.descricao_demanda}}.<br><bR>
                            <b>Datas: </b>Esse serviço deve ser realizado nos dias {{data_inicio}} à {{ data_fim }}.<bR>
                            <b>Usuário:</b> {{interesse.usuario_demanda}}.<br>
                            <b>Categoria de Serviço:</b> {{interesse.categoria}}.
                        </p> 
                        <b>Fotos:</b><br>
                        <img src="{{ interesse.imagem_demanda }}" style="height: 100px;width: 100px;">
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'delete_interesse' interesse.id %}" id="delete" class="modal-close waves-effect waves-green btn-flat">DELETAR <i
                                class="material-icons">
                                delete_forever
                            </i></a>
                    </div>
                </div>
            </section>
        </div>
        <br>
        {% endif %}
        {% if request.user.categoria == 'Consumidor' %}
        <div class="mdl-layout__tab-panel is-active" id="overview">
            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                <header
                    class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                    <img src="{{ interesse.imagem }}" style="width: 180px;height: 250px;">
                </header>
                <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--10-col-tablet mdl-cell--4-col-phone">
                    <div class="mdl-card__supporting-text">
                        <h4>{{interesse.username}}</h4>
                        <p>
                            {{interesse.first_name}} {{interesse.last_name}}.<br><bR>
                            <b>Categoria de Serviço:</b> {{interesse.categoria_servico}}.
                        </p>
                    </div>
                    <div class="mdl-card__actions">
                        <a class="waves-effect waves-light btn modal-trigger" href="#{{interesse.titulo_demanda}}">Ver
                            Detalhes</a>

                        <script type="text/javascript">
                            document.addEventListener('DOMContentLoaded', function () {
                                var elems = document.querySelectorAll('.modal');
                                var instances = M.Modal.init(elems, options);
                            });
                            $(document).ready(function () {
                                $('.modal').modal();
                            });
                            $("#delete").click(function (e) {
                                if (confirm('Deseja apagar?'))
                                    window.location = "{% url 'delete_interesse' interesse.id %}"
                                else {
                                    alert('Okay, nada feito!');
                                    e.preventDefault();
                                }
                            });
                        </script>

                    </div>
                </div>
                <div id="{{interesse.titulo_demanda}}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>{{interesse.username}}</h4>
                        <p><b>Nome Completo:</b> {{interesse.first_name}} {{interesse.last_name}}.
                            <b>Usuário:</b> {{interesse.username}}.<br>
                            <b>Categoria de Serviço:</b> {{interesse.categoria_servico}}.
                        </p>
                        <b>Fotos:</b><br>
                        <img src="{{ interesse.imagem }}" style="height: 100px;width: 100px;">
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'delete_interesse' interesse.id%}" id="delet"
                            class="modal-close waves-effect waves-green btn-flat">DELETAR <i class="material-icons">
                                delete_forever
                            </i></a>
                    </div>
                </div>
            </section>
        </div>
        <br>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}