{% extends 'principal/base.html'%}
{% block titulo %}Caixa de Mensagens {% endblock%}
{% block conteudo %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, options);
    });
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>

<div class="row">
    <div class="col-3">
        {% if request.user.categoria == 'Consumidor' %}
        <div class="card hoverable">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Menu</h6>
                </header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'cadastro_demanda' %}" class="list-group-item">Criar uma nova demanda </a>
                        <a href="{% url 'demandas' %}" class="list-group-item">Minhas Demandas <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                                class="float-right badge badge-light round"></span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
        {% if request.user.categoria == 'Prestador' %}
        <div class="card hoverable">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Menu</h6>
                </header>
                <div class="filter-content">
                    <div class="list-group list-group-flush">
                        <a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
                                class="float-right badge badge-light round"></span> </a>
                        <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                                class="float-right badge badge-light round"></span>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        {% endif %}
    </div>
    <div class="col-9">
        <div class="card hoverable">
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-2">
                        {% if to_user != request.user %}
                        <a href="{% url 'conta' to_user.id %}">
                            <img class="rounded" src="{{to_user.imagem}}" style="width: 40px; height: 40px;"> </a>
                        {% endif %}
                        {% if to_user == request.user %}
                        <a href="{% url 'conta' session_user.id %}">
                            <img class="rounded" src="{{session_user.imagem}}" style="width: 40px; height: 40px;"></a>
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        {% if to_user != request.user %}
                        <a href="{% url 'conta' to_user.id %}">
                            <span class="email-title">{{ to_user }}</span></a>
                        {% endif %}
                        {% if to_user == request.user %}
                        <a href="{% url 'conta' session_user.id %}">
                            <span class="email-title">{{ session_user }} </span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card grey lighten 1 hoverable" style="overflow: auto; height: 300px;">
            <div class="card-content">
                {% for message in messages %}
                <div class="row">
                    <div class="col-sm-8">
                        {% if request.user != message.from_user %}
                        <span class="mdl-chip">
                            <span class="mdl-chip__text" ><b>{{message.from_user}}: </b>
                                {{message.message}}</span>
                        </span>
                        {% endif %}
                    </div>
                    <div class="col-sm">
                        {% if request.user == message.from_user %}
                        <span class="mdl-chip">
                            <span class="mdl-chip__text"><b>{{message.from_user}}: </b>
                                {{message.message}}</span>
                        </span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% if request.user == propostas.user_proposta %}
                <ul class="collapsible hoverable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons"> info </i>Proposta enviada ao
                            usuario:</div>
                        <div class="collapsible-body white">
                            <span>{{propostas.proposta}}</span><br>
                            <b>Valor proposto:</b><span> {{propostas.valor}}</span>
                            <b>A data será de </b><span>A data será {{propostas.data_inicio}} até
                                {{propostas.data_fim}}.</span>
                            <b>A demanda é </b><span> {{propostas.demanda}} do usuario
                                {{propostas.to_user_proposta}}</span>
                            <b>Proposta foi feita por </b><span>Proposta feita por {{propostas.user_proposta}}</span>
                        </div>
                    </li>
                </ul>
                {% endif %}
                {% if request.user == propostas.to_user_proposta %}
                <ul class="collapsible hoverable">
                    <li>
                        <div class="collapsible-header"><i class="material-icons"> info </i>Proposta recebida do
                            prestador:
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-11">
                                    
                                    <button class="btn waves-effect waves-light green" type="submit" name="action"
                                        id="accept">Aceitar</button>
                                    <button class="btn waves-effect waves-light red" type="submit" name="action"
                                        id="reject">Rejeitar</button>
                                </div>
                            </div>

                        </div>
                        <div class="collapsible-body white ">
                            <span>{{propostas.proposta}}</span><br>
                            <b>Valor proposto:</b><span> {{propostas.valor}}</span><br>
                            <b>A data será de </b><span>A data será {{propostas.data_inicio}} até
                                {{propostas.data_fim}}.</span><br>
                            <b>A demanda é </b><span> {{propostas.demanda}} do usuario
                                {{propostas.to_user_proposta}}</span><br>
                            <b>Proposta foi feita por </b><span>Proposta feita por {{propostas.user_proposta}}</span>

                        </div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="card hoverable ">
            <div class="card-content">
                {% if to_user != request.user %}
                <form method="POST" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-9">
                            <textarea class="materialize-textarea" name='message'></textarea>
                            <input type="hidden" name="from_user" value="{{request.user.id}}">
                            <input type="hidden" name="to_user" value="{{to_user.id}}">
                        </div>
                        <div class="col-sm-3">
                            <button
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Enviar
                                <i class="material-icons">
                                    send
                                </i></button>
                        </div>
                    </div>
                </form>
                {% if request.user.categoria  == 'Prestador'%}
                <a class="waves-effect waves-light btn modal-trigger" href="#modal">Criar uma proposta<i
                        class="material-icons">add</i></a>
                {% endif %}
                {% endif %}
                {% if to_user == request.user %}
                <form method="POST" enctype="multipart/form-data" class="form-group">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-9">
                            <textarea class="materialize-textarea" name='message'></textarea>
                            <input type="hidden" name="from_user" value="{{request.user.id}}">
                            <input type="hidden" name="to_user" value="{{session_user.id}}">
                        </div>
                        <div class="col-sm-3">
                            <button
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Enviar
                                <i class="material-icons">
                                    send
                                </i></button>
                        </div>
                    </div>
                </form>
                {% if request.user.categoria  == 'Prestador'%}
                <a class="waves-effect waves-light btn modal-trigger" href="#modal">Criar uma proposta<i
                        class="material-icons">add</i></a>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
        var height = $(window).height();
    });
    $(document).ready(function () {
        $('.modal').modal();
    });
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, options);
    });
    $("#create_proposta").change(function () {
        console.log($(this).val());
    });
    $(document).on('click', '#create_proposta', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "create_proposta" %}',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                proposta: $("textarea[name='proposta']").val(),
                valor: $("input[name='valor']").val(),
                user_proposta: $("input[name='user_proposta']").val(),
                to_user_proposta: $("input[name='to_user_proposta']").val(),
                data_inicio: $("input[name='data_inicio']").val(),
                data_fim: $("input[name='data_fim']").val(),
                demanda: $("select[name='demanda']").val(),
            },
            success: function () {
                $('.modal').modal();
                M.toast({ html: 'Proposta Criada!' });
                location.reload(true);
            },
            error: function (jqxhr, status, exception) {
                alert('Exception:', exception, jqxhr, status);
            }
        });
    });
    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
{% if propostas %}
<script type="text/javascript">

    $('#accept').on('click', function () {
        M.toast({ html: 'Proposta aceita!' })
        window.location.href = "{% url 'create_servico' propostas.id %}";
    });
    $('#reject').on('click', function () {
        if (confirm("Deseja excluir a proposta? ")) {
            M.toast({ html: 'Proposta Excluida!' })
            window.location.href = "{% url 'deletePropostas' propostas.id   %}";
        } else {
            location.reload();
        }
    });
    $(document).ready(function () {
        $('.scrollspy').scrollSpy();
    });
</script>
{% endif %}
<div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <span class="modal-title">
            <h4>Nova Proposta!</h4>
        </span>
        <form method="POST" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <input type="text" class="validate" value="" name="valor">
                    <label>Valor: </label>
                    <label>Valor é um dado preferencial!</label>
                    <div class="input-field">
                        <select name="demanda">
                            <option value="" disabled selected>Escolha a demanda</option>
                            {% for demanda in demandas %}
                            <option value="{{demanda.id}}">{{demanda}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <input type="date" class="validate" name="data_inicio">
                    <label>Data inicio:</label>
                    <input type="date" class="validate" name="data_fim">
                    <label>Data fim:</label>
                    <input type="hidden" value="{{request.user.id}}" name="user_proposta">
                    {% if to_user != request.user %}
                    <input type="hidden" value="{{to_user.id}}" name="to_user_proposta">
                    {% endif %}
                    {% if to_user == request.user %}
                    <input type="hidden" value="{{session_user.id}}" name="to_user_proposta">
                    {% endif %}
                </div>
                <label>Proposta</label>
                <textarea class="materialize-textarea" name="proposta"></textarea>
            </div>
    </div>
    <div class="modal-footer">
        <button id="create_proposta"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Pronto
            <i class="material-icons">check</i></button>
        </form>
    </div>
</div>
{% endblock %}