{% extends 'principal/base.html'%}
{% block titulo %}Usuarios encontrados da categoria{% endblock%}
{% block oferta %}{% endblock %}
{% block conteudo %}
{% load static %}

<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		var elems = document.querySelectorAll('.modal');
		var instances = M.Modal.init(elems, options);
	});
	$(document).ready(function () {
		$('.modal').modal();
	});
	$(document).ready(function () {
		$("button").click(function () {
			$("#w3s").attr("href", "https://www.w3schools.com/jquery/");
		});
	});
</script>

<div class="row">
	<div class="col-3">
		<div class="card hoverable">
			<article class="card-group-item">
				<header class="card-header">
					<h6 class="title">Menu</h6>
				</header>
				<div class="filter-content">
					<div class="list-group list-group-flush">
							<a href="{% url 'index' %}" class="list-group-item">Início </a>
						<a href="{% url 'cadastro_demanda' %}" class="list-group-item">Criar uma nova demanda </a>
						<a href="{% url 'servicos'%}" class="list-group-item">Meus Serviços <span
                  class="float-right badge badge-light round"></span> </a>
              <a href="{% url 'box_message' %}" class="list-group-item">Mensagens <span
								class="float-right badge badge-light round"></span> </a>
					</div>
				</div>
			</article>
		</div>
	</div>
	<div class="col-9">
		{% for result in results %}
		<div class="card hoverable modal-trigger" href="#{{result.id}}">
			<div class="card-content">
				<div class="row">
					<div class="col-sm-2">
						<img src="{{result.imagem.url}}" class="circle" style="width: 50px; height: 50px;">
					</div>
					<div class="col-sm-10">
						<b>Nome: </b>{{ result.get_full_name }}<br>
						<b>Categoria de Serviço: </b>{{ result.categoria_servico }}<br>
						<b>Usuario: </b> {{ result.username }}
					</div>
				</div>
			</div>
			<div class="card-action grey lighten-2">
				<a href="#{{result.id}}" class="waves-effect waves-light btn modal-trigger blue">Detalhes<i
						class="material-icons align-top">
						info
					</i></a>
				<a class="waves-effect waves-light btn modal-trigger green" href="#{{result.username}}">Enviar Mensagem
					<i class="material-icons align-top">
						message
					</i></a>
			</div>
		</div>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', function () {
				var elems = document.querySelectorAll('.modal');
				var instances = M.Modal.init(elems, options);
			});
			$(document).ready(function () {
				$('.modal').modal();
			});
			$('.card').click(function () {
				$('#{{result.id}}').modal();
			});
		</script>
		<div class="modal modal-dialog h-50" id="{{result.username}}">
			<div class="modal-header">
				<h6>Enviar uma mensagem para {{result.get_full_name}}</h6>
			</div>
			<div class="modal-content border-bottom-0 h-auto h-25">
				<form method="POST" action="{% url 'index' %}">
					{% csrf_token %}
					<div class="row">
						<div class="col-sm-8">
							<textarea class="materialize-textarea" name='message'></textarea>
							<label for="message">Mensagem</label>
							<input type="hidden" name="from_user" value="{{request.user.id}}">
							<input type="hidden" name="to_user" value="{{result.id}}">
						</div>
						<div class="col-sm-4">
							<button class="waves-effect waves-light btn green">Enviar <i class="material-icons align-top">
									send
								</i></button><i></i>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="modal modal-fixed-footer" id="{{result.id}}">
			<div class="modal-header">
				<h6>Dados do usuario </h6>
			</div>
			<div class="modal-content h-75">
				<b>Nome: </b>{{result.get_full_name}}
				<b>Categoria de serviço: </b>{{result.categoria_servico}}
			</div>
			<div class="modal-footer grey lighten-2">
				<a class="waves-effect waves-light btn modal-trigger green" href="#{{result.username}}">Enviar
					Mensagem
					<i class="material-icons">
						message
					</i></a>
			</div>
		</div>
		{% endfor %}

	</div>
</div>
{% endblock %}