{% extends 'principal/base.html'%}
{% block titulo %}Enviar Mensagem {% endblock%}
{% block conteudo %}
<form method="POST" enctype="multipart/form-data" class="form-group">
    {% csrf_token %}
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-10">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--3dp">
          <div class="mdl-card mdl-cell mdl-cell--11-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <div class="form-group">
                <h3>Mensagem para: {{to_user}}</h3>
                <textarea class="materialize-textarea" name='message'></textarea>
                <input type="hidden" name="from_user" value="{{request.user.id}}">
                <input type="hidden" name="to_user" value="{{to_user.id}}">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Enviar</button>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-1">
      </div>
    </div>
  </form>
{% endblock %}