{% extends 'principal/base.html'%}
{% block titulo %}Cadastro Demanda{% endblock%}
{% block conteudo %}


<div class="row">
  <div class="col-3">
    {% if request.user.categoria == 'Consumidor' %}
    <div class="card hoverable">
      <article class="card-group-item">
        <header class="card-header">
          <h6 class="title">Menu</h6>
        </header>
        <div class="filter-content">
          <div class="list-group list-group-flush">
            <a href="{% url 'cadastro_demanda' %}" class="list-group-item">Criar uma nova demanda </a>
            <a href="{% url 'demandas' %}" class="list-group-item">Minhas Demandas <span
                class="float-right badge badge-light round"></span> </a>
            <a href="#" class="list-group-item">Meus Serviços <span
                class="float-right badge badge-light round"></span> </a>
            <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                class="float-right badge badge-light round"></span>
            </a>
          </div>
        </div>
      </article>
    </div>
    {% endif %}
    {% if request.user.categoria == 'Prestador' %}
    <div class="card hoverable">
      <article class="card-group-item">
        <header class="card-header">
          <h6 class="title">Menu</h6>
        </header>
        <div class="filter-content">
          <div class="list-group list-group-flush">
            <a href="{% url 'servicos' %}" class="list-group-item">Meus Serviços <span
                class="float-right badge badge-light round"></span> </a>
            <a href="{% url 'box_message' %}" class="list-group-item">Mensagens<span
                class="float-right badge badge-light round"></span>
            </a>
          </div>
        </div>
      </article>
    </div>
    {% endif %}
  </div>
  <div class="col s9">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1 hoverable">
      <li class="tab"><a href="#test1">Ativos</a></li>
      <li class="tab"><a href="#test2">Concluídos</a></li>
      <li class="tab"><a href="#test3">Cancelados</a></li>
    </ul>

    {% for servico in servicos %}
    {% if servico.status == 'Ativo' %}
    <div id="test1" class="col s12">
      <div class="card hoverable">
        <div class="card-content">
          <span class="card-title">
            <h5>Serviço sobre a demanda: {{servico.proposta.demanda}}</h5>
          </span>
          <b>Proposta:</b> {{servico.proposta.proposta}}.<br>
          <b>Publicado em:</b> {{servico.data_servico}}.<br>
          <b>Usuário:</b> {{servico.proposta.user_proposta}}.<br>
          <b>Categoria de Serviço:</b> {{servico.proposta.demanda.categoria}}.<br>
          <b>Status: </b>{{servico.status}}.
        </div>
        <div class="card-action grey lighten-2">
            <form method="POST" action="{% url 'servico_atual' servico.id %}">
                {% csrf_token %}
              <button class="btn btn-info" id="servico_atual" type="submit">Ver Serviço</button></p>
              </form>
        </div>
      </div>
    </div>
    {% endif %}
    {% if servico.status == 'Concluído' %}
    <div id="test2" class="col s12">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title">
                <h5>Serviço sobre a demanda: {{servico.proposta.demanda}}</h5>
              </span>
              <b>Proposta:</b> {{servico.proposta.proposta}}.<br>
              <b>Publicado em:</b> {{servico.data_servico}}.<br>
              <b>Usuário:</b> {{servico.proposta.user_proposta}}.<br>
              <b>Categoria de Serviço:</b> {{servico.proposta.demanda.categoria}}.<br>
              <b>Status: </b>{{servico.status}}.
            </div>
            <div class="card-action grey lighten-2">
                <form method="POST" action="{% url 'servico_atual' servico.id %}">
                    {% csrf_token %}
                  <button class="btn btn-info" id="servico_atual" type="submit">Ver Serviço</button></p>
                  </form>
            </div>
          </div>
    </div>
    {% endif %}
    {% if servico.status == 'Cancelado' %}
    <div id="test3" class="col s12">
        <div class="card hoverable">
            <div class="card-content">
              <span class="card-title">
                <h5>Serviço sobre a demanda: {{servico.proposta.demanda}}</h5>
              </span>
              <b>Proposta:</b> {{servico.proposta.proposta}}.<br>
              <b>Publicado em:</b> {{servico.data_servico}}.<br>
              <b>Usuário:</b> {{servico.proposta.user_proposta}}.<br>
              <b>Categoria de Serviço:</b> {{servico.proposta.demanda.categoria}}.<br>
              <b>Status: </b>{{servico.status}}.
            </div>
            <div class="card-action grey lighten-2">
              <form method="POST" action="{% url 'servico_atual' servico.id %}">
                {% csrf_token %}
              <button class="btn btn-info" id="servico_atual" type="submit">Ver Serviço</button></p>
              </form>
            </div>
          </div>
    </div>
    {% endif %}
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
      });
      $(document).ready(function () {
        $('.modal').modal();
      });
      $('#servico_atual').click(function (event) {
        window.location.href = "{% url 'servico_atual' servico.id %}";
      });
      var instance = M.Tabs.init(el, options);
      $(document).ready(function () {
        $('.tabs').tabs();
      });
      var instance = M.Tabs.getInstance(elem);
    </script>
    {% endfor %}












  </div>
</div>
{% endblock %}