{% extends 'principal/base.html' %}

{% block conteudo %}
<div class="row">
    <div class="col s12">
        <div class="card hoverable grey lighten-2">
            <div class="card-content">
                <span class="card-title"><b>Situaçao do Serviço</b></span>
                <b>Status: </b>{{servico.status}}<br>
                {% if servico.status == 'Concluído' %}
                <b>Sugestão ou Critica do serviço realizado: </b>{{servico.sugestao_critica}}<br>
                <b>Avaliação do serviço: </b>{{servico.avaliacao}}<br>
                <div id="nota">
                    <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star1"
                        style="height: 35px; width: 35px;">
                    <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star2"
                        style="height: 35px; width: 35px;">
                    <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star3"
                        style="height: 35px; width: 35px;">
                    <img id="star4" src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star4"
                        style="height: 35px; width: 35px;">
                    <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star5"
                        style="height: 35px; width: 35px;">
                </div>
                <input type="hidden" id="nota_value" value="{{servico.avaliacao}}" name="value">
                {% endif %}
                {% if servico.status == 'Cancelado' or servico.status == 'Cancelado sem confirmação' %}
                <b>Justificativa do Cancelamento: </b>{{servico.justificativa}}<br>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">
                    Demanda do serviço é {{demanda.titulo}}
                </span>
                <b>Descricao:</b> {{demanda.descricao}}.<br>
                <b>Categoria:</b> {{demanda.categoria}}.<br>
                <b>usuario:</b> {{demanda.user}}.<br>
                <b>Data de publicação:</b> {{demanda.data}}.<br>
            </div>
            {% if servico.status == 'Ativo' %}
            <div class="card-action grey lighten-2">
                <a class="waves-effect waves-light btn modal-trigger green lighten-1" href="#modal_done">Concluir
                    <i class="material-icons">
                        done
                    </i></a>
                <a class="waves-effect waves-light btn modal-trigger red darken-4" href="#modal_cancel">Cancelar
                    <i class="material-icons">
                        cancel
                    </i></a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title">
                    Proposta:
                </span>
                <b>Proposta:</b> {{proposta.proposta}}.<br>
                <b>Valor da Proposta:</b> {{proposta.valor}}.<br>
                <b>O serviço deve ser realizado de </b>{{proposta.data_inicio}} <b>até</b> {{proposta.data_inicio}}.<br>
                <b>Publicado em:</b> {{proposta.data}}.<br>
                <b>Usuário:</b> {{proposta.user_proposta}}.<br>
            </div>
            <div class="card-action grey lighten-2">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });
    $(document).ready(function () {
        let nota = $('input[name=value]').val();
        if(nota == "1,0"){
            $('nota').empty();
            $('nota').append('<img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star1"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star2"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star3"style="height: 35px; width: 35px;"><img id="star4" src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star4"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star5"style="height: 35px; width: 35px;">');

        }
        if(nota == "2,0"){
            $('nota').empty();
            $('nota').append('<img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star1"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star2"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star3"style="height: 35px; width: 35px;"><img id="star4" src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star4"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star5"style="height: 35px; width: 35px;">');

        }
        if(nota == "3,0"){
            $('nota').empty();
            $('nota').append('<img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star1"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star2"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star3"style="height: 35px; width: 35px;"><img id="star4" src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star4"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star5"style="height: 35px; width: 35px;">');

        }
        if(nota == "4,0"){
            $('nota').empty();
            $('nota').append('<img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star1"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star2"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star3"style="height: 35px; width: 35px;"><img id="star4" src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star4"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star5"style="height: 35px; width: 35px;">');

        }
        if(nota == "5,0"){
            $('nota').empty();
            $('nota').append('<img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star1"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star2"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star3"style="height: 35px; width: 35px;"><img id="star4" src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star4"style="height: 35px; width: 35px;"><img src="https://image.flaticon.com/icons/svg/148/148841.svg" id="star5"style="height: 35px; width: 35px;">');

        }

        $('.modal').modal();
    });
    $('#edit').click(function () {
        confirm("");
        window.location.href = "#modal";
    });

    

    function Avaliar(estrela) {
        let cont;
        switch (estrela) {
            case 1:
                if ($('#star1').attr("src") == 'https://image.flaticon.com/icons/svg/148/148841.svg') {
                    $('#star1').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star2').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star3').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star4').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star5').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    cont = 0;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                } else {
                    $('#star1').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    cont = 1;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                }
                break;
            case 2:
                if ($('#star2').attr("src") == 'https://image.flaticon.com/icons/svg/148/148841.svg') {
                    $('#star2').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star3').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star4').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star5').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    cont = 1;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                } else {
                    $('#star1').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star2').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    cont = 2;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                }
                break;
            case 3:
                if ($('#star3').attr("src") == 'https://image.flaticon.com/icons/svg/148/148841.svg') {
                    $('#star3').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star4').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star5').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    cont = 2;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                } else {
                    $('#star1').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star2').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star3').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    cont = 3;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                }
                break;
            case 4:
                if ($('#star4').attr("src") == 'https://image.flaticon.com/icons/svg/148/148841.svg') {
                    $('#star4').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    $('#star5').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    cont = 3;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                } else {
                    $('#star1').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star2').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star3').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star4').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    cont = 4;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                }

                break;
            case 5:
                if ($('#star5').attr("src") == 'https://image.flaticon.com/icons/svg/148/148841.svg') {
                    $('#star5').attr("src", "https://image.flaticon.com/icons/svg/149/149222.svg");
                    cont = 4;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                } else {
                    $('#star1').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star2').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star3').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star4').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    $('#star5').attr("src", "https://image.flaticon.com/icons/svg/148/148841.svg");
                    cont = 5;
                    $('#rating').text(cont);
                    $('#input_rating').val(cont);
                    console.log(cont);
                }
                break;
            default:
                console.log("Erro");

        }

    }
</script>
<div id="modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <span class="modal-title">
            <h4>Edite sua Proposta!</h4>
        </span>
        <form method="POST" enctype="multipart/form-data" class="form-group">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <input type="text" class="validate" value="{{proposta.valor}}" name="valor">
                    <label>Valor: </label>
                    <label>Valor é um dado preferencial!</label>
                    <div class="input-field">
                        <input type="text" value="{{proposta.demanda}}" disabled>
                    </div>
                </div>
                <div class="col-6">
                    <input type="date" class="validate" name="data_inicio" value="{{proposta.data_inicio}}">
                    <label>Data inicio:</label>
                    <input type="date" class="validate" name="data_fim" value="{{proposta.data_fim}}">
                    <label>Data fim:</label>
                </div>
                <label>Proposta</label>
                <textarea class="materialize-textarea" name="proposta">{{proposta.proposta  }}</textarea>
            </div>
    </div>
    <div class="modal-footer">
        <button id="create_proposta"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Pronto
            <i class="material-icons">check</i></button>
        </form>
    </div>
</div>
<div id="modal_done" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Conclusão do serviço pelo {{request.user.categoria}}</h5>
        <p>Faça uma sugestão ou critica sobre o serviço prestado e faça uma avaliação</p>
        <form method="POST">
            {% csrf_token %}
            <label>Sugestão ou critica</label><br>
            <textarea class="materialize-textarea" name='sugestao_critica'></textarea><br>
            {% if request.user.categoria == 'Prestador' %}
            <label>Avalie o ????????????????</label>
            {% endif %} {% if request.user.categoria == 'Consumidor' %}
            <label>Avalie o Prestador</label><br>
            {% endif %}

            <a href="javascript:void(0)" onclick="Avaliar(1)">
                <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star1"
                    style="height: 35px; width: 35px;"></a>

            <a href="javascript:void(0)" onclick="Avaliar(2)">
                <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star2"
                    style="height: 35px; width: 35px;"></a>

            <a href="javascript:void(0)" onclick="Avaliar(3)">
                <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star3"
                    style="height: 35px; width: 35px;"></a>

            <a href="javascript:void(0)" onclick="Avaliar(4)">
                <img id="star4" src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star4"
                    style="height: 35px; width: 35px;"></a>

            <a href="javascript:void(0)" onclick="Avaliar(5)">
                <img src="https://image.flaticon.com/icons/svg/149/149222.svg" id="star5"
                    style="height: 35px; width: 35px;"></a>
            <label id="rating"></label>
            <input id="input_rating" type="hidden" name="avaliacao" class="w-25">

    </div>
    <div class="modal-footer">
        <button class="btn green lighten-1" id="aval">Pronto
            <i class="material-icons">
                done
            </i></button>
        </form>
    </div>
</div>
<div id="modal_cancel" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h5>Cancelamento do serviço pelo {{request.user.categoria}}</h5>
        <p>Antes de executar essa ação, nos diga a razão do cancelamento: </p>
        <form method="POST">
            {% csrf_token %}
            <textarea name="justificativa" class="materialize-textarea"></textarea>
            <label>Justificativa</label>

    </div>
    <div class="modal-footer grey lighten-2">
        <button class="btn green lighten-1">Pronto
            <i class="material-icons">
                done
            </i></button>
    </div>
    </form>
</div>
<div id="modal_aval" class="modal modal-fixed-footer">
    <div class="modal-content">

    </div>
    <div class="modal-footer">

    </div>
</div>
{% endblock %}